.bt1 {
	background-color:#00FFFF;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: rgb(48, 5, 5);
	 margin-top: 10px; 
    display: inline-block;
     /* float: right;  */
}

.bt {
	background-color:rgb(48, 5, 5);;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: #00FFFF;
    margin-top: 10px;
    display: inline-block;
    
}
.btt2 {
	background-color:rgb(48, 5, 5);;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: #00FFFF;
	 margin-top: 10px; 
    display: inline-block;
      float: right; 
}

.btt {
	background-color:#00FFFF;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: rgb(48, 5, 5);
    margin-top: 10px;
    display: inline-block;
    
}

.savebt1 {
	background-color:#58FAAC;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: rgb(48, 5, 5);
	  margin-top: 10px; 
    display: inline-block;
     /* float: right; */
}

.savebt {
	background-color:#58FAAC;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: rgb(48, 5, 5);
     margin-top: 10px; 
    display: inline-block;
    
}
.h2{
	color: white;
}
.LG1 {
	background-color:#6E6E6E;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: rgb(48, 5, 5);
	/* margin-top: 10px; */
    display: inline-block;
    /* float: right; */
    
}

.LG {
	background-color:#6E6E6E;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: rgb(48, 5, 5);
	/* margin-top: 10px; */
    display: inline-block;
    
}